form {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
form input {
  width: 350px;
  padding: 8px;
  outline: none;
  border: none;
  background-color: #ddd;
  border-radius: 3px;
}
form button {
  width: 200px;
  padding: 7px;
  background-color: #ddd;
  border: none;
  border-radius: 3px;
}
